.page-container {
    /* display: flex; */
    /* flex-direction: column; */
    /* min-height: 100vh; */
    /* align-items: center; */
    /* height: 99vh; Full viewport height */
    overflow: hidden;
}

.auth-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: white;
}

.auth-title {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 98%;
    /* margin-right: 40px; */
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.form-group .error {
    color: #ff4444;
    font-size: 14px;
    margin-top: 5px;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.submit-button:hover {
    background-color: #3367d6;
}

.submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.auth-link {
    text-align: center;
    margin-top: 15px;
}

.auth-link a {
    color: #4285f4;
    text-decoration: none;
}

.auth-link a:hover {
    text-decoration: underline;
}

.auth-footer {
    text-align: center;
    padding: 15px;
    background-color: #f1f1f1;
    color: #333;
    font-size: 14px;
    width: 100%;
    margin-top: auto;
}